body {
  margin: 0;
  padding: 0;
}
.navbar nav{
    height: 40px;
    font-size: large;
}
.navbar {
  background: #ff77ff;
  position: sticky;
    top: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navbar li {
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}
a{
    color: red;
}
a:hover{
    color:white
}
.title {
  height: 100vh;
  background-image: url(photos/photo1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  color: white;
  font-size: 60px;
  font-style: italic;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.introduction{
    line-height: 1.6;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    hyphens: auto;
    text-indent: 30px;
}
span{
    background-color: yellow;
}
h2{
  text-align: center;
  border: 2px solid black;
  background-color: red;
}
.one{
  background-color:violet;
  
}
.what-is-ict p,h3{
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  margin: 20px;
  hyphens: auto;
  text-indent: 20px;
}
#two{
    border-bottom: 1.5px solid black;
    background-color: white;
}
.what-is-ict-info{
    margin: 10px;
    position: relative;
}
.what-is-ict-pic{
    position: relative;
    left: 10px;
    padding: 15px;
}
.what-is-ict-text{
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 100px;
    font-size: 18px;
}
.style{
  border-bottom: 1.5px solid black;
  font-weight: 600;
  background-color: lightyellow;
}
.second-part {
  line-height: 1.6;
  font-size: 17px;
  text-align: justify;
  hyphens: auto;
  padding: 20px;
}
.three{
  background-color: rgb(250, 250, 163);
}
.communication th,td{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 50px;
}
.communication th{
  background-color: rgb(195, 195, 195);
}
.communication caption{
  background-color: aqua;
  font-size: 18px;
  font-weight: 400;
}
.communication{
    margin: 10px;
    position: relative;
}
.communication-pic{
    position: absolute;
    right: 60px;
    top: 0px;
    padding: 15px;
}
.communication p{
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
  text-indent: 20px;
}
.style2{
  font-weight: 400;
  background-color: rgb(250, 250, 163);
}
.style3{
  font-weight: 600;
  background-color: rgb(187, 251, 168);
}
.design1{
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
  text-indent: 20px;
}
.design2 {
  background-color:violet;
}
.case p{
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
  padding: 10px;
  text-indent: 20px;
}
.case{
    margin: 0px;
    position: relative;
}
.case-pic{
    position: absolute;
    right: 50px;
    top: 110px;
    padding: 15px;
}
.case ol{
  font-size: 18px;
  line-height: 1.6;
}
.design3{
  background-color: lightgreen;
  border-bottom: 1.3px solid;
  font-weight: 500;
}
.design4{
  background-color: rgb(249, 153, 213);
  border-bottom: 1.3px solid;
  font-weight: 500;
}
.design5{
  background-color:violet;
}
.conclusion p{
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  hyphens: auto;
  margin: 20px;
  text-indent: 20px;
}
.end {
  height: 100vh;
  background-image: url(photos/photo17.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}