body {
  margin: 0;
  padding: 0;
}
.navbar nav{
    height: 40px;
    font-size: large;
}
.navbar {
  background: #ff77ff;
  position: sticky;
    top: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navbar li {
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}
a{
    color: red;
}
a:hover{
    color:white
}
.title1 {
  height: 100vh;
  background-image: url(photo4.jpg);
  background-size: cover;
  background-position: center;
}
.title h1{
  font-size: 60px;
  font-style: italic;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}
.title2 h2{
  text-align: center;
  border: 2px solid black;
  background-color: red;
}
.title2 th,td{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    font-size: 20px;
}
.title2 table{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row{
    background-color: lightblue;
}
.google{
    line-height: 1.6;
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    hyphens: auto;
    text-indent: 30px;
}
span{
    background-color: yellow;
}
.google img{
  position: relative;
  left: 50px;
}