body {
  margin: 0;
  padding: 0;
}
.navbar nav{
    height: 40px;
    font-size: large;
}
.navbar {
  background: #ff77ff;
  position: sticky;
    top: 0;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navbar li {
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}
a{
    color: red;
}
a:hover{
    color:white
}
.contact {
  height: 100vh;
  background-image: url(photo18.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  color: rebeccapurple;
  position: relative;
}
#person1{
    position: absolute;
    top: 210px;
    left: 280px;
}
#person0{
    position: absolute;
    top: 190px;
    left: 280px;
    color: red;
}
#person2{
    position: absolute;
    top: 210px;
    left: 440px;
}
#person3{
    position: absolute;
    top: 230px;
    left: 600px;
}
#person4{
    position: absolute;
    top: 200px;
    left: 790px;
}
